<h1>Editing Programming Language Type</h1>

<%= render 'form', programming_language_type: @programming_language_type %>

<%= link_to 'Show', @programming_language_type %> |
<%= link_to 'Back', programming_language_types_path %>
